body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background: linear-gradient(to bottom, #ffffff, #808080);
      color: #333;
      text-align: center;
}

h1 {
      font-size: 40px;
      margin: 20px;
}

p {
      text-align: justify;
      font-size: 18px;
      margin: 20px;
      margin-left: 50px;
      margin-right: 50px;
}

.top-band {
      background-color: #000;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
      font-size: 14px;
}

.flair-section {
      margin-top: 20px;
}

.bottom-band {
      background-color: #000;
      color: #fff;
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
}

.small-text {
      font-size: 14px;
      text-align: center;
}

.medium-text {
      font-size: 14px;
}

img {
      width: 80%;
      height: auto;
      justify-content: center;
}

a {
      color: grey;
}

#subscribeForm {
      display: none;
      margin-top: 20px;
}

.click-iscriviti {
      font-size: 14px;
      text-align: center;
      cursor: pointer;
}

.flair-title {
      font-family: Papyrus, fantasy;
      font-size: 60px;
}
button {
      background-color: white;
      color: black;
      border: 2px solid black;
      padding: 10px 20px;
      font-size: 10px; 
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer; 
      transition: background-color 0.3s, color 0.3s; 
    }