
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
       background: linear-gradient(to bottom, #ffffff, #808080);
      color: #333;
      text-align: center;
    }

    .top-band {
      background-color: #000;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
      font-size: 14px;
    }

    .flair-section {
      margin-top: 20px;
    }

    h1 {
      font-size: 46px;
      margin: 20px 0;
    }

    p {
      text-align: justify;
      font-size: 18px;
      margin: 20px 0;
      margin-left: 50px;
      margin-right: 50px
    }

    .bottom-band {
      background-color: #000;
      color: #fff;
      padding: 10px;
      box-sizing: border-box;
      width: 100%;
    }

    .small-text {
      font-size: 14px;
    }
    .medium-text {
      font-size: 14px;
    }
    img {
      width: 45%;
      margin-top: 20px;
    }
